.profile {
    background-color: rgb(250, 248, 248);
    color: rgb(254, 254, 254);
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .profile-card {
    background-color: #5A7684;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.963);
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-title {
    color: rgb(251, 251, 251);
  }
  
  h1 {
    color: rgb(247, 245, 245);
  }
  
  p {
    color: rgb(255, 255, 255);
  }
  
