#sidebar {
  width: 15%; /* Ancho del menú lateral */
  position: fixed; /* Menú fijo en la pantalla */
  top: 0; /* Alinear arriba de la pantalla */
  left: 0; /* Alinear a la izquierda de la pantalla */
  height: 100%; /* Altura de pantalla completa */
  background-color: #333; /* Color de fondo */
  margin-top: 8.5%;
  align-items:flex-start;
  justify-content: center;
  
}

#sidebar .nav-link {
  display: block; /* Hace que los elementos se muestren uno debajo del otro */
  padding: 10px 20px; /* Espaciado entre elementos */
  color: #fff; /* Color del texto */
}